.powerup{
    width: 100vw;
}
.powerup button{
    margin: 1rem;
    position: absolute;
    right: 0;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20rem;
}